<section class="class-block">
  <div class="class-heading">
    <h3>{{name}}</h3>
    {{#each weapons}}
    <img class="weapon-icon" src="{{weapon-icon-path key}}" alt="{{weaponName}}">
    {{/each}}
  </div>
  <div class="skill-list">
    {{#each skills}}
    <div class="skill-row">
      <img class="skill-icon" src="{{skill-icon-path key}}" alt="{{name}}">
      <div class="skill-copy">
        <strong>{{name}}</strong>
        <span>{{description}}</span>
      </div>
    </div>
    {{/each}}
  </div>
</section>
