header
  h2 Growth Rate and Base Stats (Work in Progress)

section.sgc
  .sg
    label(for="class-change-options") Class
    select#class-change-options
      each opt in classChangeOptions
        option(value=opt.key, selected=opt.selected)= opt.name

table#growths-table.table
  thead
    tr
      th Growth
      th
      each col in statsData.labels.growth
        th= col.label
  tbody
    tr.class-growths-row(data-class-key="base")
      td: strong Base
      td
      each col in statsData.labels.growth
        td(data-key=col.key)= statsData.growth[col.key]
    each cls in classChangeOptions
      tr.class-growths-row(data-class-key=cls.key, hidden=cls.hidden)
        td: strong= cls.name
        td
        each col in statsData.labels.growth
          td(data-key=col.key)= statsData.growth[col.key] + cls.stats.growth[col.key]

- var baseEntries = Object.values(statsData.base || {});
each labeledBaseStats, idx in baseEntries
  table.table.stats-table(id=`stats-table-${idx}`)
    thead
      tr
        th Base Stats
        each col in statsData.labels.base
          th= col.label
    tbody
      tr.class-stats-row(data-class-key="base")
        td: strong= labeledBaseStats.label
        each col in statsData.labels.base
          td(data-key=col.key)= labeledBaseStats.stats[col.key]
      each cls in classChangeOptions
        tr.class-stats-row(data-class-key=cls.key, hidden=cls.hidden)
          td: strong= cls.name
          td -
          each col in statsData.labels.growth
            td(data-key=col.key)= labeledBaseStats.stats[col.key] + cls.stats.base[col.key]
