header
  h2 Config

section.cfg-opts
  if configOptions.parents
    .sgc
      if configOptions.parents
        .sg
          label(for="cfg-parent") Parent
          select#cfg-parent(name="cfg-parent")
            option(value="") - None -
            each parent in configOptions.parents
              option(value=parent.key)= parent.name

      if configOptions.grandparents
        .sg.grandparent-sg(hidden)
          label(for="cfg-grandparent") Grandparent
          select#cfg-grandparent(name="cfg-grandparent")
            option(value="") - None -
            each gp in configOptions.grandparents
              option(value=gp.key)= gp.name

  if configOptions.talents
    .sgc: .sg
      label(for="cfg-talent") Talent
      select#cfg-talent(name="cfg-talent")
        each talent in configOptions.talents
          option(value=talent.key)= talent.name

  if configOptions.friendships || configOptions.partners
    .sgc
      if configOptions.friendships
        .sg
          label(for="cfg-friendship") Friendship (A+)
          select#cfg-friendship(name="cfg-friendship")
            option(value="") - None -
            each friend in configOptions.friendships
              option(value=friend.key)= friend.name

      if configOptions.partners
        .sg
          label(for="cfg-partner") Partner (S)
          select#cfg-partner(name="cfg-partner")
            option(value="") - None -
            each partner in configOptions.partners
              option(value=partner.key)= partner.name
