mixin dataCell(key, base, cls)
  td(data-key=key, data-base=base[key], data-class=cls[key])= dashZero(base[key] + cls[key])

mixin pairUpTableRows(stats)
  td
  each col in statsData.labels.pairUp
    td= stats ? dashZero(stats[col.key]) : ""

header
  h2 Growth Rate and Base Stats

section.sgc
  .sg
    label(for="class-change-options") Class
    select#class-change-options
      each opt in configOptions.classChange
        option(value=opt.key, selected=opt.selected)= opt.name
  if configOptions.boonBane
    .sg.boon-bane-sg(hidden=!character.isCorrin)
      label(for="boon-options") Boon
      select#boon-options(name="boon-options")
        each bb in configOptions.boonBane
          option(value=bb.key)= "+ " + bb.label
    .sg.boon-bane-sg(hidden=!character.isCorrin)
      label(for="bane-options") Bane
      select#bane-options(name="bane-options")
        each bb in configOptions.boonBane
          option(value=bb.key)= "- " + bb.label

table#growths-table.table
  thead
    tr
      th: .toggle
        a.bi(href="#", data-toggle-target="growths-table-body")
        span Growth
          span.hidden-sm &nbsp;Rate
      th
      each col in statsData.labels.growth
        th= col.label
  tbody#growths-table-body
    tr.class-growths-row(data-is-base, data-class-key=statsData.startingClass.key)
      td: strong= "(" + statsData.startingClass.name + ")"
      td
      each col in statsData.labels.growth
        +dataCell(col.key, statsData.growth, statsData.startingClass.stats.growth)
    each cls in configOptions.classChange
      tr.class-growths-row(data-class-key=cls.key, hidden=cls.hidden)
        td: strong= cls.name
        td
        each col in statsData.labels.growth
          +dataCell(col.key, statsData.growth, cls.stats.growth)

table#stats-table.table.stats-table
  each baseStats, idx in statsData.base
    thead
      tr
        th: .toggle
          a.bi(href="#", data-toggle-target=`stats-table-body-${idx}`)
          span= baseStats.name
            span.hidden-sm &nbsp;Stats
        each col in statsData.labels.base
          th= col.label
    tbody(id=`stats-table-body-${idx}`, hidden=idx > 0)
      tr.class-stats-row(data-is-base, data-class-key=statsData.startingClass.key)
        td: strong= "(" + statsData.startingClass.name + ")"
        td= baseStats.level
        each col in statsData.labels.growth
          +dataCell(col.key, baseStats, statsData.startingClass.stats.base)
      each cls in configOptions.classChange
        tr.class-stats-row(data-class-key=cls.key, hidden=cls.hidden)
          td: strong= cls.name
          td -
          each col in statsData.labels.growth
            +dataCell(col.key, baseStats, cls.stats.base)

table#pair-up-table.table
  thead
    tr
      th: .toggle
        a.bi(href="#", data-toggle-target="pair-up-table-body")
        span Pair Up
          span.hidden-sm &nbsp;Stats
      th
      each col in statsData.labels.pairUp
        th= col.label

  tbody#pair-up-table-body
    if statsData.pairUpStatsPerParent
      each pairUp in statsData.pairUpStatsPerParent
        each rank in pairUp.stats
          tr(data-parent=pairUp.parent, hidden=!!pairUp.parent)
            td: strong= rank.name
              span.hidden-sm &nbsp;Support
            +pairUpTableRows(rank)
      tr(data-parent)
        td (Select a parent)
        +pairUpTableRows

    else if statsData.pairUp
      each rank in statsData.pairUp
        tr
          td: strong= rank.name
            span.hidden-sm &nbsp;Support
          +pairUpTableRows(rank)

    if statsData.classPairUpStats
      each cls in statsData.classPairUpStats
        tr.class-pair-up-row(data-class-key=cls.key, hidden)
          td: strong= cls.name
          +pairUpTableRows(cls.stats)
