mixin dataCell(key, base, cls)
  td(data-key=key, data-base=base[key], data-class=cls[key])= base[key] + cls[key]

header
  h2 Growth Rate and Base Stats

section.sgc
  .sg
    label(for="class-change-options") Class
    select#class-change-options
      each opt in configOptions.classChange
        option(value=opt.key, selected=opt.selected)= opt.name
  if configOptions.boonBane
    .sg.boon-bane-sg(hidden=!isCorrin)
      label(for="boon-options") Boon
      select#boon-options(name="boon-options")
        each bb in configOptions.boonBane
          option(value=bb.key)= "+ " + bb.label
    .sg.boon-bane-sg(hidden=!isCorrin)
      label(for="bane-options") Bane
      select#bane-options(name="bane-options")
        each bb in configOptions.boonBane
          option(value=bb.key)= "- " + bb.label

table#growths-table.table
  thead
    tr
      th Growth Rate
      th
      each col in statsData.labels.growth
        th= col.label
  tbody
    tr.class-growths-row(data-is-base, data-class-key=statsData.startingClass.key)
      td: strong= "(" + statsData.startingClass.name + ")"
      td
      each col in statsData.labels.growth
        +dataCell(col.key, statsData.growth, statsData.startingClass.stats.growth)
    each cls in configOptions.classChange
      tr.class-growths-row(data-class-key=cls.key, hidden=cls.hidden)
        td: strong= cls.name
        td
        each col in statsData.labels.growth
          +dataCell(col.key, statsData.growth, cls.stats.growth)

each baseStats, idx in statsData.base
  table.table.stats-table(id=`stats-table-${idx}`)
    thead
      tr
        th= baseStats.name + " Stats"
        each col in statsData.labels.base
          th= col.label
    tbody
      tr.class-stats-row(data-is-base, data-class-key=statsData.startingClass.key)
        td: strong= "(" + statsData.startingClass.name + ")"
        td= baseStats.level
        each col in statsData.labels.growth
          +dataCell(col.key, baseStats, statsData.startingClass.stats.base)
      each cls in configOptions.classChange
        tr.class-stats-row(data-class-key=cls.key, hidden=cls.hidden)
          td: strong= cls.name
          td -
          each col in statsData.labels.growth
            +dataCell(col.key, baseStats, cls.stats.base)
