doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title= pageTitle
    link(rel="preconnect", href="https://fonts.googleapis.com")
    link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Macondo&display=swap", rel="stylesheet")
    link(rel="stylesheet", href="../styles/reset.css")
    link(rel="stylesheet", href="../styles/style.css")
  body
    main.container
      header
        h1
          span.header-portrait(class=character.route)
            img(src=charaPortraitPath(character.key), alt=character.name)
          span= pageTitle

        nav.breadcrumb
          ul
            li Fire Emblem Fates
            li: a(href="./") Character Guides
            li= character.name

      include sections/config
      include sections/stats
      include sections/panels

    script.
      window.UI_CONFIG = !{JSON.stringify(uiConfig)};
    script(src="../scripts/character-ui.js")
