<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{pageTitle}}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Macondo&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles/reset.css">
    <link rel="stylesheet" href="../styles/style.css">
</head>

<body>
    <main class="container">
        <header class="page-header">
            <h1>{{pageTitle}}</h1>
            <nav class="breadcrumb" aria-label="breadcrumb">
              <ul>
                <li>Fire Emblem Fates</li>
                <li>Character Guides</li>
              </ul>
            </nav>
        </header>

        {{#each sections}}
        {{#if title}}
        <h2 class="section-title">{{title}}</h2>
        {{/if}}
        <div class="character-grid">
            {{#each characters}}
            <a class="character-card" href="{{href}}">
                <img src="{{portraitPath}}" />
                <h3>{{name}}</h3>
            </a>
            {{/each}}
        </div>
        {{/each}}
    </main>
</body>

</html>
